html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input,
select {
  vertical-align: middle;
}
a,
a:hover,
a:active {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@font-face {
  font-family: Source Sans Pro;
  src: url('../font/SourceSansPro/SourceSansPro-Regular.otf'), url('../font/SourceSansPro/SourceSansPro-Regular.ttf');
}
html,
body {
  -webkit-font-smoothing: antialiased;
  font: 14px/1.4 'Source Sans Pro', "microsoft yahei", arial;
}
::selection {
  color: #fff;
  background: #f40;
}
::-moz-selection {
  color: #fff;
  background: #f40;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.content-model {
  background-color: #fff;
  padding: 70px 10px;
}
.content-model .model-title {
  margin-bottom: 30px;
}
.content-model .model-title .large {
  color: #343434;
  font-size: 34px;
  font-family: "黑体", "microsoft yahei";
}
.content-model .model-title .mini {
  color: #bbb;
  font-size: 19px;
  margin-left: 40px;
}
.model-black {
  background-color: #2a303c;
}
.model-black .model-title .large {
  color: #fff;
}
.model-black .model-title .mini {
  color: #3f485a;
}
.content-inner {
  position: relative;
  float: none;
  clear: both;
  overflow: visible;
  max-width: 1160px;
  min-width: 996px;
  margin: 0 auto;
  padding: 0 20px;
  *zoom: 1;
}
.content-inner:before,
.content-inner:after {
  content: " ";
  display: table;
}
.content-inner:after {
  clear: both;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  line-height: 39px;
  background-color: #cb3837;
  border-bottom: 1px solid #b83130;
  color: #f0f0f0;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  z-index: 9999;
}
.address {
  float: left;
}
.address .address-legend,
.address .address-box {
  float: left;
  margin-right: 30px;
}
@media all and (max-width: 1400px) {
  .address .address-legend,
  .address .address-box {
    margin-right: 20px;
  }
}
.address .address-legend {
  color: #f1c40f;
}
.address .address-content {
  margin-left: 5px;
}
.top-nav {
  float: right;
}
.top-nav .nav-li {
  float: left;
  height: 22px;
  line-height: 22px;
  margin-top: 8px;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-nav .nav-li.current,
.top-nav .nav-li:hover {
  color: #fff;
  border-color: #fff;
}
@media all and (max-width: 1400px) {
  .top-nav .nav-li {
    margin-left: 20px;
  }
}
.basic-info {
  color: #fff;
  padding-top: 109px;
  min-height: 300px;
}
.basic-info .basic-radar-intr {
  clear: both;
}
.basic-info #radar {
  float: left;
  width: 25%;
  height: 140px;
}
.basic-info .info-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 200px;
}
.basic-info .basic-list {
  padding-left: 200px;
}
.basic-info .basic-box {
  float: left;
  width: 25%;
  font-size: 16px;
  margin-bottom: 15px;
}
.basic-info .basic-box .basic-content {
  margin-left: 5px;
  color: #becddf;
}
.basic-info .basic-box.col2 {
  width: 50%;
}
.basic-info .basic-box.col2 .basic-content {
  margin-left: 10px;
}
.basic-info .basic-box.col4 {
  width: 100%;
  padding-top: 10px;
}
.basic-info .basic-box.col4 .basic-content {
  margin-left: 10px;
}
.basic-info .basic-box.strong .basic-content {
  color: #f1c40f;
}
.basic-info .basic-box.mg-25 {
  margin-left: 25%;
}
.what-ICan .my-tec-text {
  margin-bottom: 20px;
}
.what-ICan .my-tec-text li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 1%;
  color: #343434;
}
.what-ICan .my-tec-text li .text-question {
  margin-right: 20px;
}
.what-ICan .my-tec-text li .text-answer {
  color: #999;
}
.what-ICan .my-tec-list li {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
}
.what-ICan .my-tec-list li img {
  width: 90%;
  border: 1px solid #e5e5e5;
}
.project {
  position: relative;
  color: #becddf;
  min-height: 500px;
}
.project .project-info .project-box {
  position: relative;
  float: left;
  width: 400px;
  cursor: pointer;
}
.project .project-info .project-box .project-title {
  font-size: 18px;
  color: #f1c40f;
  margin-bottom: 20px;
}
.project .project-info .project-box .project-p {
  color: #fff;
  font-family: "黑体";
  line-height: 1.6;
  margin-bottom: 10px;
}
.project .project-info .project-box .project-p a:hover {
  text-decoration: underline;
}
.project .project-info .project-box .project-p .label {
  color: #becddf;
}
@media screen and (max-width: 1220px) {
  .project .project-info .project-box {
    width: 252px;
  }
}
.project .project-slide {
  position: relative;
  float: right;
  width: 740px;
}
.project .project-slide .slide-box {
  position: absolute;
  left: 50%;
  top: 50%;
}
.project .project-slide .slide-box .slide-wapper {
  position: relative;
  margin-bottom: 40px;
}
.project .project-slide .slide-box .slide-wapper li {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}
.project .project-slide .slide-box .slide-wapper img {
  width: 100%;
  height: 100%;
}
.project .project-slide .slide-box .slide-intr {
  position: relative;
  height: 20px;
  text-align: center;
  overflow: hidden;
}
.project .project-slide .slide-box .slide-intr li {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  font-size: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cross .project-slide {
  height: 400px;
}
.cross .slide-box {
  height: 350px;
  margin-top: -200px;
  width: 700px;
  margin-left: -350px;
}
.cross .slide-box .slide-wapper {
  height: 250px;
}
.cross .slide-box .slide-wapper li {
  width: 500px;
  height: 250px;
  left: 100px;
  top: 0;
}
.vertical .project-slide {
  height: 600px;
}
.vertical .slide-box {
  height: 600px;
  margin-top: -300px;
  width: 500px;
  margin-left: -250px;
}
.vertical .slide-box .slide-wapper {
  height: 540px;
}
.vertical .slide-box .slide-wapper li {
  width: 300px;
  height: 540px;
  left: 100px;
  top: 0;
}
.bookshelf .book-list li {
  float: left;
  width: 14%;
}
.bookshelf .book-list li img {
  width: 200px;
}
