<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8" />
		<title>I'm here, waiting for your choice</title>
		<link rel="stylesheet" href="css/basic.css" />
		<script type="text/javascript" data-main="js/main.js" src="js/lib/require.js" ></script>
	</head>
	<body data-ng-controller="IndexController" >
		<header class="top-bar" >
		  <div class="content-inner">
        <div class="address">
          <figure class="address-legend">联系方式</figure>
          <div class="address-box" data-ng-repeat=" item in address">
            <span class="address-label" data-ng-bind="item.name" ></span>:
            <span class="address-content" data-ng-bind="item.content"></span>
          </div>
        </div>
        <nav class="top-nav">
          <div class="nav-li" data-ng-repeat="item in model.modelList" data-ng-bind="item.label" ng-class="{ current: $index=== model.index}" >
          </div>
        </nav>
		  </div>
		</header>
		<section class="content-model model-black basic-info">
		  <div class="content-inner clearfix">
		    <img src="img/header-exmple.png" class="info-header" />
		    <div class="basic-list clearfix">
		      <div class="basic-box {{item.class}}" data-ng-repeat="item in basic" >
		        <span class="basic-label" data-ng-bind="item.label" ></span>:
		        <span class="basic-content" data-ng-bind="item.content" ></span>
		      </div>
		    </div>
		  </div>
		</section>
		<section class="content-model what-ICan" >
		  <div class="content-inner clearfix" >
        <h2 class="model-title" >
          <span class="large">我会什么?</span>
          <span class="mini">What&nbsp;&nbsp;I&nbsp;&nbsp;would</span>
        </h2>
        <ul class="my-tec-text">
          <li data-ng-repeat="item in myTec.textList" >
            <span class="text-question" data-ng-bind="item.question" ></span>
            <span class="text-answer" data-ng-bind="item.answer" ></span>
          </li>
        </ul>
		    <ul class="my-tec-list clearfix" >
		      <li data-ng-repeat="item in myTec.list" >
		        <img alt="{{item.label}}" title="{{item.label}}" data-ng-src="{{myTec.imgSrc}}{{item.img}}" />
		      </li>
		    </ul>
		  </div>
		</section>
	
	</body>
</html>
